<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center">Please enter your informations</h3>
			<%= form_for(@information, url: {action: "create"}) do |f| %>
				<div class="form-group", id= "Age" >
					<%= f.label :age %><br/>
					<%= f.text_field :age, class: 'form-control', placeholder: "Your age right now"%>
				</div>
				
				<div class="form-group", id= "weight" >
					<%= f.label :weight %><br/>
					<%= f.text_field :weight, class: 'form-control', placeholder: "Your weight in kilograms"%>
				</div>
		
				<div class="form-group", id= "height">
					<%= f.label :height %><br/>
					<%= f.text_field :height, class: 'form-control', placeholder: "Your height in centimeters" %>
				</div>
		
				<strong><h5>Choose your gender:</h5></strong>&nbsp&nbsp
				<div class="gender">
					<%= f.radio_button(:gender, 1) %>
					<%= f.label(:gender, "male") %>
					&nbsp
					<%= f.radio_button(:gender, 2) %>
					<%= f.label(:gender, "female") %>
				</div>
				
				<div class="activity">
					<%= f.label :activity_level %>:&nbsp&nbsp
					<%= f.select :activity_level, options_for_select([['', 0],['Sedentary', 1], ['Lightly Active', 2], ['Moderately Active', 3], ['Very Active', 4], ['Extremely Active', 5]]) %>
				</div>
				
				<%= f.submit "Calculate", class: 'btn btn-primary btn-md' %>
			<% end %>
		</div>
	</div>
</div>

