<div class="well">
	<h3 class="text-center">Please enter your informations</h3>
	<%= form_for(@information, :url => {:actions => :new}) do |f| %>
		<div class="form-group", id= "weight" >
			<%= f.label :weight %><br/>
			<%= f.text_field :weight, class: 'form-control', placeholder: "Your weight right now"%>
		</div>
		
		<div class="form-group", id= "height">
			<%= f.label :height %><br/>
			<%= f.text_field :height, class: 'form-control', placeholder: "Your height right now" %>
		</div>
	<% end %>
</div>

